services:
  cms:
    privileged: true
    container_name: cloud-media-sync
    image: docker.1ms.run/imaliang/cloud-media-sync:latest
    restart: always
      #    network_mode: bridge
    volumes:
      - "./cms/config:/config"
      - "./cms/logs:/logs"
      - "./cms/cache:/var/cache/nginx/emby"
      - "./media:/media"
    ports:
      - "9527:9527"
      - "9096:9096"
    environment:
      - PUID=0
      - PGID=0
      - UMASK=022
      - TZ=Asia/Shanghai
      - RUN_ENV=online
      - ADMIN_USERNAME=admin
      - ADMIN_PASSWORD=admin
      - CMS_API_TOKEN=cloud_media_sync
      - EMBY_HOST_PORT=http://172.17.0.1:8096
      - EMBY_API_KEY=xxx
      - DONATE_CODE=CMS_XXX_XXX

  emby:
    privileged: true
    container_name: emby
    image: 'docker.1ms.run/amilys/embyserver:4.8.11.0'
    restart: always
    volumes:
      - ./emby/config:/config
      - ./media:/media
    ports:
      - 127.0.0.1:8096:8096
    environment:
      - UID=0
      - GID=0
      - GIDLIST=0
      - UMASK=022
      - TZ=Asia/Shanghai
      - NO_PROXY=172.17.0.1,127.0.0.1,192.168.66.10,localhost
      - ALL_PROXY=http://172.17.0.1:7890
      - HTTP_PROXY=http://172.17.0.1:7890

  hyperms:
    image: docker.1ms.run/gravityle/hyperms:0.0.5
    container_name: hyperms
    ports:
      - "8115:8115" # 冒号左侧自定义
      - "8196:8196"
    volumes:
      - ./hyperms/config:/config # 配置等映射，可自己修改
      - ./media:/media
    environment:
      - HMS_TOKEN=
      - EMBY_HOST=http://172.17.0.1:8096
      - EMBY_APIKEY=
    restart: always
